@* @{
  Layout = "_Layout";
}

@using PlanIt.Models;
@model PlanIt.Models.BusExecSummary;

<h2>Summary Details</h2>
<hr />
<h1>@Html.DisplayNameFor(model => model.SummaryTitle): @Html.DisplayFor(model => model.SummaryTitle)</h1>
<h4>@Html.DisplayNameFor(model => model.Intro): @Html.DisplayFor(model => model.Intro)</h4>
<h4>@Html.DisplayNameFor(model => model.Problem): @Html.DisplayFor(model => model.Problem)</h4>
<h4>@Html.DisplayNameFor(model => model.Financials): @Html.DisplayFor(model => model.Financials)</h4>

<hr />
<p>@Html.ActionLink("Back to Dashboard", "Index")</p>
<p>@Html.ActionLink("Edit Summary", "Edit", new { id = Model.SummaryId })</p>

<hr/>
<p>@Html.ActionLink("Delete Summary", "Delete", new { id = Model.SummaryId })</p> *@