  @{
  Layout = "_Layout";
}

@model PlanIt.Models.ExecSummary

<h2>Edit</h2>

<h4>Edit this category: @Html.DisplayFor(model => model.ExecSummaryTitle)</h4>

@using (Html.BeginForm())
{
  
  @Html.HiddenFor(model => model.ExecSummaryId)
  @Html.LabelFor(model => model.ExecSummaryTitle)
  @Html.EditorFor(model => model.ExecSummaryTitle)
  @Html.LabelFor(model => model.Intro)
  @Html.EditorFor(model => model.Intro)
  @Html.LabelFor(model => model.Problem)
  @Html.EditorFor(model => model.Problem)
  @Html.LabelFor(model => model.Finance)
  @Html.EditorFor(model => model.Finance)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Summaries", "Index")</p>