@{
  Layout = "_Layout";
}

@model PlanIt.Models.BusProposal

<div class="container-fluid">
<div class="jumbotron">
<h1 class="propDetails">@Html.DisplayFor(model => model.BusProposalTitle)'s</h1> <h4>Proposal Details</h4>
</div>
<hr />
@* <h3>Proposal: @Html.DisplayFor(model => model.BusProposalTitle)</h3> *@

@if(@Model.ExecSummaries.Count == 0)
{
  <p>This proposal does not contain a Summary</p>
}
else
{
  <h5>Your proposal Executive Summary:</h5>
  <ul>
  @foreach(var join in Model.ExecSummaries)
  {

<div class="list-group">
  <p class="list-group-item-success active"><a href="ExecSummary/Details.cshtml">@join.ExecSummary.ExecSummaryTitle</a></p>
  <p>@join.ExecSummary.Intro</p>
  <p>@join.ExecSummary.Problem</p>
  <p>@join.ExecSummary.Finance</p>
  </div>

    @using (Html.BeginForm("DeleteExecSummary", "BusProposals"))
    {
      @Html.Hidden("joinId", @join.ExecSummaryBusProposalId)

    }
  }
  
  </ul>
}

<p><button type="submit" class="btn-outline-info">@Html.ActionLink("Back to list", "Index")</p></button>
@* <p>@Html.ActionLink("Edit BusProposal", "Edit", new { id = Model.BusProposalId })</p> *@
<p><button type="submit" class="btn-outline-info">@Html.ActionLink("Add an Executive Summary", "AddExecSummary", new { id = Model.BusProposalId })</button></p>
<p><button type="submit" class="btn-outline-info">@Html.ActionLink("Delete this Proposal", "Delete", new { id = Model.BusProposalId })</button></p>

</div>
