  @{
  Layout = "_Layout";
}

@model PlanIt.Models.BusProposal

<h2>Edit</h2>

<h4>Edit this proposal: @Html.DisplayFor(model => model.BusProposalTitle)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BusProposalId)

    @Html.LabelFor(model => model.BusProposalTitle)
    @Html.EditorFor(model => model.BusProposalTitle)

    @Html.Label("Select ExecSummary")
    @Html.DropDownList("ExecSummaryId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>