@{
  Layout = "_Layout";
}

@using PlanIt.Models;
@using System.Security.Claims


@model IEnumerable<PlanIt.Models.BusProposal>

<div class="jumbotron">
<h1 class="welcome">Welcome @User.Identity.Name</h1>
<h2 class="busPlanIndex">Your Business Plans: </h2>
</div>
@if (Model.Any())
{
  <ul>
    @foreach (BusProposal busProposal in Model)
    {
      <button type="submit" class="btn btn-warning"><p>@Html.ActionLink($"{busProposal.BusProposalTitle}", "Details", new { id = busProposal.BusProposalId })</p></button>
    }
  </ul>
} 
else
{
  <h3>No proposals have been added yet!</h3>
}

<button type="submit" class="btn-outline-info"><p>@Html.ActionLink("Add new proposal", "Create")</p></button>

<button type="submit" class="btn-outline-info"><p>@Html.ActionLink("Home", "Index", "Home")</p></button>
<button type="submit" class="btn-outline-info"><p>@Html.ActionLink("Build a Summary", "Index", "ExecSummary")</p></button>